/*MOBIL*/

/*TEKST*/
h1 {
    font-family: 'aw-conqueror-dido', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    color: white;
    text-align: center;
    margin-top: 110px;

}

h2 {
    font-family: 'aw-conqueror-dido', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: white;
    text-align: center;

}

h3 {
    font-family: 'aw-conqueror-dido', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    color: white;

}

h4 {
    font-family: 'aw-conqueror-dido', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;

}

p {
    font-family: 'Work Sans', sans-serif;
    color: white;
}


body {
    background-color: black;
    /*
    background-image: url(billeder/baggrund_mobil_Tegnebr%C3%A6t%201.png);
    background-size: cover;
*/
    margin: 0;



}

main {

    margin: 0 auto;
    width: 100vw;
}

img {
    width: 100%;

}

/*FORSIDE*/

#baggrund_forside {
    background-image: url(billeder/mobilforside.ny-05.png);
    background-size: cover;
    width: 100%;
    height: 108vw;
    margin: 0;

}

#txt h3 {
    /*
    color: #801A64;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20vw;
*/
    display: none;
}


#ommig_link,
#portfolio_link {
    width: 300px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}

#trekant1 {
    margin-bottom: 5vw;
}


/*OM MIG*/

#ommig1 h3 {
    margin-bottom: -10px;
    font-size: 2.5rem;
    text-align: center;
    align-content: center;
}

#ommig1 p {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'aw-conqueror-dido', serif;
    line-height: 1.5;
    margin-bottom: -2vw;
}

#CVbillede {
    margin-bottom: 12vw;
}

/*KNAP*/

/*KNAP*/
#knap {
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;

}

.button {

    display: inline-block;
    padding: 1em 3em;
    background-color: #801A64;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    transition: all 0.15s;
}

a.button:hover {
    color: black;
    background-color: white;
}

a.button:active {
    color: #BBBBBB;
}

#mig {
    margin-top: 60px;
    margin-bottom: 60px;

}


/*Navigation*/

.hidden {
    display: none;
    /*
    transform: scale(0);
    transform: translateX(-100);
    opacity: 0;
*/
}

#menuknap {
    margin: 10px;
    display: inline-block;
    font-size: 7vw;
    color: #801A64;
}

#menu {
    background-color: #801A64;
    list-style-type: none;
    transition: transform .3s;
    text-align: center;
    padding: 20px;
}

#menu a {
    color: white;
    line-height: 2;
    font-size: 23px;
    font-family: 'aw-conqueror-dido', serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}


/*FOOTER*/
footer {
    background-color: rgb(128, 26, 100);
    text-align: center;
    height: 120px;
}

footer img {
    margin-top: -25px;
    width: 40px;
    padding-left: 5px;
    padding-right: 5px;

}

footer #footer_indhold {
    padding-top: 1px;
}

section {
    margin-left: 50px;
    margin-right: 50px;
}

#section_02 {
    margin-bottom: 60px;
}

/*DESKTOP*/

@media (min-width: 769px) {



    #baggrund_forside {
        background-image: url(billeder/baggrund_ny__Tegnebr%C3%A6t%201.png);
        width: 100vw;
        height: 47vw;
    }

    #txt h3 {
        text-align: center;
        color: #801A64;
    }

    #ommig_link,
    #portfolio_link {
        width: 100%;
    }


    #trekant1 {
        width: 60%;
        margin-left: 20vw;
        margin-right: 20vw;
        margin-top: 5vw;
        margin-bottom: 10vw;

    }

    #trekant2 {
        width: 60%;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    /*NAVIGATION*/
    #menuknap {
        display: none;
    }

    #menu {
        display: inline;
        height: 30px;
        width: 300px;
        background-color: black;

        position: fixed;
        /* Set the navbar to fixed position */
        top: 0;
        /* Position the navbar at the top of the page */
        width: 100%;
        /* Full width */
    }

    .content {
        padding: 16px;
    }

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: right;
        padding: 10px;
    }

    li a {
        color: white;
        padding: 14px 80px;
    }


    li a:hover {
        background-color: dimgrey;
        color: black;
    }

    li a.active {
        background-color: #801A64;
        color: white;
    }


    #section_01 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        margin-right: 100px;
        margin-left: 100px;

    }

    #section_02 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        margin-right: 100px;
        margin-left: 100px;
        margin-bottom: 120px;

    }




    /*OM MIG*/

    #ommig1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #CVbillede {
        width: 60%;
        margin-top: 15vw;
        margin-left: 7vw;

    }

    #ommig1 h3 {
        margin-top: 15vw;

        margin-bottom: -20px;
        font-size: 4rem;
    }

    #ommig1 p {
        font-size: 2rem;
        font-family: 'aw-conqueror-dido', serif;
        margin-bottom: 2vw;
    }

    /*KNAP*/

    #knap {
        width: 100%;

    }

    .button {

        display: inline-block;
        padding: 1em 2em;
        background-color: #801A64;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 4px;
        margin-top: 40px;
        margin-bottom: 40px;
        text-decoration: none;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        color: white;
        text-align: center;
        transition: all 0.15s;
        position: relative;




    }

    a.button:hover {
        color: black;
        background-color: white;
    }

    a.button:active {
        color: #BBBBBB;
    }

    #mig {
        margin-top: 130px;
        margin-bottom: 60px;

    }







    /*CSS ANIMATION*/


    .zoom {

        transition: transform .2s;
        margin: 0 auto;
    }

    .zoom:hover {
        transform: scale(1.1);

    }

    /*FOOTER*/
    footer {
        padding-top: 0px;
        height: 100px;


    }

    #footer_indhold {
        display: grid;
        grid-template-columns: 35% 15% 15% 35%;
        ;


    }

    #navn {
        grid-column-start: 2;


    }

    #icon {
        grid-column-start: 3;
        place-self: center;

    }

    footer img {
        margin-top: 0;

    }
}
