/*MOBIL*/

/*TEKST*/
h1 {
    font-family: 'aw-conqueror-dido', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 23vw;

}

h2 {
    font-family: 'aw-conqueror-dido', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 100px;


}

h3 {
    font-family: 'aw-conqueror-dido', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    color: white;
    text-align: center;


}

h4 {
    font-family: 'aw-conqueror-dido', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;

}

p {
    font-family: 'Work Sans', sans-serif;
    color: white;
    line-height: 2;
}


body {
    background-color: black;
    /*
    background-image: url(billeder/baggrund_mobil_Tegnebr%C3%A6t%201.png);
    background-size: cover;
*/
    margin: 0;


}

img {
    width: 100%;

    margin-top: 100px;

}



.box {
    width: 90vw;
    height: auto;
    margin: auto;
    margin-bottom: 70px;


    background-color: #191919;
    display: grid;
    grid-template-columns: 1fr;


}


section {
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;


}

.col {
    width: 100%;
    display: grid;
    justify-content: center;
}

#drink {
    width: 200px;
    justify-content: center;
}

#knapux {

    margin-left: 21vw;
}

#ux_billede {
    margin-bottom: 10vw;

}

#knappilot {
    margin-left: 10vw;
}

#knapredesign {
    margin-left: 10vw;
}


/*KNAP*/
#knap {
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;

}

.button {

    display: inline-block;
    padding: 1em 3em;
    background-color: #801A64;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    transition: all 0.15s;



}

a.button:hover {
    color: black;
    background-color: white;
}

a.button:active {
    color: #BBBBBB;
}

#menuknap {
    margin: 10px;
    display: inline-block;
    font-size: 7vw;
    color: #801A64;
    display: flex;
    justify-content: flex-end;
    margin-top: -20vw;

}

#logo {
    width: 0%;
}

/*FOOTER*/
footer {
    background-color: rgb(128, 26, 100);
    text-align: center;
    height: 120px;
}

footer img {
    margin-top: -25px;
    width: 40px;
    padding-left: 5px;
    padding-right: 5px;

}

footer #footer_indhold {
    padding-top: 1px;
}


/*DESKTOP*/

@media (min-width: 769px) {

    #logo {
        width: 4%;
        background-color: rgba(250, 235, 215, 0);
        padding: 0;
        padding: 1%;
        position: fixed;
        /* Set the navbar to fixed position */
        top: 0;
        z-index: 30;
        opacity: 1;
        margin-top: 0;



    }



    .box {

        margin-bottom: 15vw;
        margin-top: 100px;


    }



    #section2_01 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        margin-right: 100px;
        margin-left: 100px;


    }

    #drink {
        padding-top: 0px;

    }

    #section2_01 .col h3 {}

    #section2_02 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        margin-right: 100px;
        margin-left: 100px;
    }




    #section4_01 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        margin-right: 100px;
        margin-left: 100px;

    }

    #section4_02 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #UI {
        width: 150%;
        margin-left: -5vw;
    }

    #section4_03 p {
        text-align: center;
    }

    #section5_01 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        margin-right: 100px;
        margin-left: 100px;

    }


    #section5_01 p {
        margin-top: -24vw;
    }

    #knappilot {
        margin-top: -30vw;
        margin-left: 10vw;
    }

    #section5_02 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        margin-right: 100px;
        margin-left: 100px;
    }

    #section5_02 p {
        margin-top: -27vw;
    }

    #section5_03 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        margin-right: 100px;
        margin-left: 100px;
    }

    #section5_03 p {
        margin-top: -12vw;
    }

    #knapredesign {
        margin-top: -17vw;
        margin-left: 10vw;
    }


    #section3_01 {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    #section3_01 p {
        margin-top: -16vw;
    }

    #ux_billede {
        width: 150%;
        margin-bottom: 10vw;

    }

    #knapux {
        margin-top: -18vw;
        margin-left: 15vw;
    }

    /*KNAP*/
    #knap {
        width: 100%;
        display: grid;
        justify-content: center;
        align-content: center;

    }

    /*FOOTER*/
    footer {
        padding-top: 0px;
        height: 100px;
        margin-top: -60px;

    }

    #footer_indhold {
        display: grid;
        grid-template-columns: 35% 15% 15% 35%;
        ;


    }

    #navn {
        grid-column-start: 2;


    }

    #icon {
        grid-column-start: 3;
        place-self: center;

    }

    footer img {
        margin-top: 0;

    }


}
